snippet php
	<?php ${1} ?>
snippet echo
	<?php echo ${1} ?>
snippet class
	<?php
	
	class ${1:ClassName} {
		${2:// code}
	}
snippet func
	${1:public} function ${2:functionName}(${3:$args}) {
		${4:// code}
	}
snippet if
	if(${1:exp}) {
		${2:// code}
	}
snippet else
	else {
		${1:// code}
	}
snippet elsif
	else if(${1:exp}) {
		${2:// code}
	}
snippet foreach
	foreach(${1:$arr} as ${2:$key} => ${3:$value}) {
		${4:// code}
	}
snippet array
	array(
		${1}
	)
snippet arr
	array(${1})
